In [7]:
import os
import pandas as pd
import databricks.sql as sql

# Configurações
server_hostname = "dbc-d3ad9dd2-0f96.cloud.databricks.com"
http_path = "/sql/1.0/warehouses/f1a172f76bf497d7"
access_token = os.getenv("DATABRICKS_TOKEN")  # exporte seu token antes de rodar

def read_table(table_name: str):
    with sql.connect(
        server_hostname=server_hostname,
        http_path=http_path,
        access_token=access_token
    ) as conn:
        with conn.cursor() as cursor:
            query = f"SELECT * FROM {table_name}"
            cursor.execute(query)
            return cursor.fetchall_arrow().to_pandas()

# Nome da tabela
table_name = "workspace.default.validation_totvs"

df = read_table(table_name)
validation_totvs = df
print(df)  # ou no Streamlit -> st.dataframe(df)

       CLIENTE                         DS_PROD             DS_LIN_REC  \
0       T08322  SMS LGT10 VENDA ASSISTIDA TRAD      SMS TOTVS SERIE T
1       T09129  E.T CORPORATIVO RB2.3 TABELA A      SMS TOTVS SERIE T
2       T09129  E.T CORPORATIVO RB2.3 TABELA A      SMS TOTVS SERIE T
3       T09129  CDU CORPORATIVO RB2.3 TABELA C      CDU TOTVS SERIE T
4       T09129   SQL SERV 2000 STAN ENG OLP NL  SOFTWARE COMPLEMENTAR
...        ...                             ...                    ...
238592  T50734  MODULO OPERAC FINAN ON PREMISE      CDU TOTVS SERIE T
238593  T50734  MODULO OPERAC FINAN ON PREMISE      CDU TOTVS SERIE T
238594  T50734             SMS FULL TOTVS TRAD      SMS TOTVS SERIE T
238595  T50734                  TOTVS TEC USER      CDU TOTVS SERIE T
238596  TFDADK            CLOUDINT SETUP CLOUD            CLOUD SETUP

              CIDADE                                            DS_CNAE  \
0       PATOSDEMINAS  Transporte rodoviario coletivo de passageiros,...
1           SAOPAULO  Comercio atacadista de outros equipamentos e a...
2           SAOPAULO  Comercio atacadista de outros equipamentos e a...
3           SAOPAULO  Comercio atacadista de outros equipamentos e a...
4           SAOPAULO  Comercio atacadista de outros equipamentos e a...
...              ...                                                ...
238592      SAOPAULO           Holdings de instituicoes nao-financeiras
238593      SAOPAULO           Holdings de instituicoes nao-financeiras
238594      SAOPAULO           Holdings de instituicoes nao-financeiras
238595      SAOPAULO           Holdings de instituicoes nao-financeiras
238596    ALAGOINHAS  Atividades de apoio … extracao de petroleo e g...

                  DS_SEGMENTO                 DS_SUBSEGMENTO  \
0                    SERVICOS              PROVEDOR SERVICOS
1                DISTRIBUICAO      ATACADISTA E DISTRIBUIDOR
2                DISTRIBUICAO      ATACADISTA E DISTRIBUIDOR
3                DISTRIBUICAO      ATACADISTA E DISTRIBUIDOR
4                DISTRIBUICAO      ATACADISTA E DISTRIBUIDOR
...                       ...                            ...
238592  CONSTRUCAO E PROJETOS                   CONSTRUTORAS
238593  CONSTRUCAO E PROJETOS                   CONSTRUTORAS
238594  CONSTRUCAO E PROJETOS                   CONSTRUTORAS
238595  CONSTRUCAO E PROJETOS                   CONSTRUTORAS
238596             MANUFATURA  EXTRATIVISTA & BENEFICIAMENTO

                            FAT_FAIXA                   MARCA_TOTVS  \
0         Faixa 03 - De 15 M ate 25 M  DISTRIBUICAO & VAREJO - CORE
1       Faixa 08 - De 150 M ate 300 M           CROSS - CORPORATIVO
2       Faixa 08 - De 150 M ate 300 M           CROSS - CORPORATIVO
3       Faixa 08 - De 150 M ate 300 M           CROSS - CORPORATIVO
4       Faixa 08 - De 150 M ate 300 M         SOFTWARE COMPLEMENTAR
...                               ...                           ...
238592   Faixa 07 - De 75 M ate 150 M                       GESPLAN
238593   Faixa 07 - De 75 M ate 150 M                       GESPLAN
238594   Faixa 07 - De 75 M ate 150 M           CROSS - TRADICIONAL
238595   Faixa 07 - De 75 M ate 150 M                    TECNOLOGIA
238596  Faixa 08 - De 150 M ate 300 M                         CLOUD

                               MODAL_COMERC  PAIS PERIODICIDADE  \
0                    MODALIDADE TRADICIONAL   105   00 - Mensal
1                    MODALIDADE CORPORATIVO   105   00 - Mensal
2                    MODALIDADE CORPORATIVO   105   00 - Mensal
3                    MODALIDADE CORPORATIVO   105   00 - Mensal
4                                      None   105   00 - Mensal
...                                     ...   ...           ...
238592               MODALIDADE TRADICIONAL   105   00 - Mensal
238593               MODALIDADE TRADICIONAL   105   00 - Mensal
238594               MODALIDADE TRADICIONAL   105   00 - Mensal
238595               MODALIDADE TRADICIONAL   105   00 - Mensal
238596  MODALIDADE SERVICOS NÃO RECORRENTES   105   00 - Mensal

       SITUACAO_CONTRATO  UF    VL_TOTAL_CONTRATO DT_ASSINATURA_CONTRATO  \
0              CANCELADO  MG      174,05651046135             2011-06-30
1              CANCELADO  SP     4642,06325609435             2016-01-19
2              CANCELADO  SP     4642,06325609435             2016-09-28
3                  ATIVO  SP     153563,895484376             2012-07-05
4                  ATIVO  SP     802,936757272674             2008-10-20
...                  ...  ..                  ...                    ...
238592         CANCELADO  SP  0,00420385736791976             2023-01-31
238593          GRATUITO  SP  0,00420385736791976             2024-02-05
238594         CANCELADO  SP      4833,0234770321             2010-07-30
238595         CANCELADO  SP     1050,96434197994             2013-06-24
238596          GRATUITO  BA  0,00420385736791976             2024-04-08

       CLIENTE_DESDE  Tempo_Conta
0         2011-06-30         5161
1         2002-05-23         8486
2         2002-05-23         8486
3         2002-05-23         8486
4         2002-05-23         8486
...              ...          ...
238592    2007-01-19         6784
238593    2007-01-19         6784
238594    2007-01-19         6784
238595    2007-01-19         6784
238596    2022-01-11         1313

[238597 rows x 18 columns]

In [9]:
validation_totvs.describe()

                PAIS    Tempo_Conta
count  238597.000000  238597.000000
mean      105.910720    4846.568708
std        23.695716    2714.899460
min        40.000000     145.000000
25%       105.000000    2788.000000
50%       105.000000    5069.000000
75%       105.000000    6256.000000
max       845.000000   19843.000000